@import "settings";
@import "foundation";
@import "oocss/_spacing";

body {
	background-color: #313538;
	color: #FFF;
	margin: 0 auto;
	padding: 0;
	font-family: "Roboto Slab", Georgia, serif;
}

#ribbon {
	img {
		position: absolute;
		right: 0;
		border: 0;
	}
}

a {
	color: #FFF;
	font-weight: 300;
	text-rendering: optimizeLegibility;
	transition: color 0.3s;

	&:hover {
		color: #DF6344;
	}
}

h1 {
	text-align: center;
	font-family: "Roboto Slab", Georgia, serif;
	font-size: 86px;
	margin-top: 10px;
	@media only screen and (max-width: 767px) {
		font-size: 56px;
		margin-top: 0;
	}
	a {
		font-weight: bold;
	}
}

h1,
#because {
	border: 1px solid #545B5F;
	text-align: center;
}

#because {
	span {
		font-size: 20px;
		color: #BCC2C7;
		line-height: 1.7em;
		font-weight: 300;

		@media only screen and (max-width: 767px) {
			font-size: 16px;
			line-height: 1.8em;
		}

		&+span:before {
			content: " ∙ ";
		}
	}
}

#missing {
	text-align: center;
	font-size: 16px;
}


div.fb-like {
	position: absolute;
	top: 15px;
	right: 10px;
}
